body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size:18px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border: 2px solid #000;
    border-radius: 15px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product-info-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.product-details {
    max-width: 400px;
    padding-left: 20px;
}

.product-images img {
    width: 100%;
    height: auto;
    max-width: 350px;
}

.product-details h1 {
    font-size: 26px;
    margin-bottom: 10px;
    background-color: yellow;
    color: black;
    padding: 5px;
}

.product-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-details h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    display: block;
}

.product-details ul {
    list-style-type: disc; /* Use standard dotted list */
    padding-left: 20px; /* Add padding to align with the standard list style */
}

.product-details ul li {
    font-size: 18px;
    margin-bottom: 2px;
}

.header {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.intro-text {
    font-size: 18px;
    margin: 20px 0;
    text-align: left;
    flex: 1;
}

.product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-section .product-images {
    flex: 1;
}

.product-section .intro-text {
    flex: 1;
}

.section {
    padding: 10px 0;
}

.section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    display: block;
}

.section ul {
    list-style-type: disc; /* Use standard dotted list */
    padding-left: 20px; /* Add padding to align with the standard list style */
}

.section ul li {
    font-size: 18px;
    margin-bottom: 5px;
}

.section ul li b {
    font-weight: bold;
}

.return-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guarantee img {
    width: 200px;
    height: auto;
}

hr {
    border: 1px solid #d3d3d3;
    margin: 20px 0;
}

.light-grey-hr {
    border: 1px solid #d3d3d3;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .product-info-content {
        flex-direction: column;
        align-items: center;
    }

    .product-details {
        padding-left: 0;
        max-width: 100%;
        text-align: center;
    }

    .product-details ul {
        text-align: left;
    }

    .product-details h1,
    .product-details h2,
    .product-details h3,
    .section h2 {
        text-align: left;
        margin-top: 20px;
    }

    .return-section {
        flex-direction: column;
        align-items: center;
    }

    .return-section .guarantee {
        order: 2;
        margin-top: 20px;
    }

    .return-section div {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .product-section {
        flex-direction: column;
        align-items: center;
    }

    .product-section .intro-text,
    .product-section .product-images {
        max-width: 100%;
    }
}
